/* ---------------------------  A B O U T --------------------------- */
#about {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 10rem 0;
  margin-top: -5rem;
  background-color: var(--grey-color-2);
  border-bottom: 1px solid var(--grey-color-4);
}

.about__title {
  padding-bottom: 3rem;
}

/* ------------- PROFILE ------------ */

.about__profile {
  width: 100%;
  display: flex;
  align-items: center;
  padding-block: 2rem;
  justify-content: center;
}
.about__content-outer-circle {
  position: absolute;
  border: 0.5rem dashed var(--primary-color-darker);
  width: 14rem;
  height: 14rem;
  border-radius: 100%;
  opacity: 0;

  /* ANIMATION */
  -webkit-animation: rotate-circle 4.5s infinite alternate, appear 3.5s forwards;
  animation: rotate-circle 4.5s infinite alternate, appear 3.5s forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.about__content-profile-container {
  width: 13rem;
  height: 13rem;
  transform: scale(0.9);
  border-radius: 100%;
  overflow: hidden;
}

.about__content-profile-container img {
  opacity: 0;
  width: 15rem;
  transform: translate(0, -0.5rem);

  /* ANIMATION */
  -webkit-animation: img-blur;
  animation: img-blur;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* ----------- ABOUT STATEMENT ----------- */

.about__statement {
  width: 100%;
  padding-inline: 4rem;
  text-align: justify;
}

.aspas {
  color: var(--white-color-3);
  display: block;
  height: 8rem;
  position: absolute;
  top: 28rem;
  right: 20%;
  font-size: 16rem;
  font-family: "palanquin", sans-serif;
}

.about__statement-title {
  color: var(--white-color-3);
  font-size: 3rem;
  font-weight: 100;
  text-align: left;
}

.about__statement--text {
  margin-top: 3rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--white-color-3);
  line-height: 2.2rem;
}

.about__statement--characteristics {
  display: inline;
  background: -webkit-linear-gradient(
    var(--primary-color-light),
    var(--primary-color-dark)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--primary-color-light);
  font-size: 3.3rem;
  font-weight: 1000;
}

/* -------------------- MEDIA QUERIES -------------------- */

@media screen and (min-width: 400px) {
  .about__statement--characteristics {
    width: 100%;
    overflow: visible;
  }
}

@media screen and (min-width: 500px) {
  .about__statement--characteristics {
    width: 32rem;
    font-size: 4.5rem;
  }

  .about__statement-title {
    padding-inline: 10%;
  }
}

@media screen and (min-width: 650px) {
  .about__statement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__statement-title {
    width: 100%;
    padding-block: 2rem;
    text-align: center;
  }
  .about__statement--text {
    font-size: 2rem;
    text-align: justify;
    line-height: 4rem;
  }
  .aspas {
    display: block;
    position: absolute;
    top: 33rem;
    right: 15%;
    font-size: 16rem;
    font-family: "palanquin", sans-serif;
    height: 8rem;
  }
}

@media screen and (min-width: 800px) {
  .about__statement {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    padding-block: 5rem;
    padding-inline: 18%;
  }

  .about__statement-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-inline: 0rem;
  }

  .about__statement--characteristics {
    width: 100%;
  }

  .about__profile {
    margin-top: -3rem;
  }

  .about__statement--text {
    grid-column: 1 / 3;
    max-width: 100%;
  }
  .about__content-outer-circle {
    width: 18rem;
    height: 18rem;
  }
  .about__content-profile-container {
    width: 17rem;
    height: 17rem;
  }

  .about__content-profile-container img {
    opacity: 0;
    width: 20rem;
    translate: -2rem -1rem;

    /* ANIMATION */
    -webkit-animation: img-blur;
    animation: img-blur;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .aspas {
    top: 20rem;
    right: 20%;
  }
}

@media screen and (min-width: 900px) {
  .about__statement {
    padding-block: 0;
  }

  .about__statement-title {
    display: flex;
    justify-content: left;
  }

  .about__statement--characteristics {
    display: block;
  }

  .about__statement-title {
    translate: 0 0;
  }

  .about__profile {
    margin-top: 0rem;
  }

  .aspas {
    top: -5rem;
    right: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .about__statement--text {
    padding: 4rem 0;
  }

  .aspas {
    top: -5rem;
    right: 38%;
  }
}
