@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes img-blur {
  0% {
    -webkit-filter: saturate(0) blur(2rem);
    filter: saturate(0) blur(2rem);
  }
  100% {
    -webkit-filter: saturate(1) blur(0rem);
    filter: saturate(1) blur(0rem);
    opacity: 1;
  }
}
@keyframes img-blur {
  0% {
    -webkit-filter: saturate(0) blur(2rem);
    filter: saturate(0) blur(2rem);
  }
  100% {
    -webkit-filter: saturate(1) blur(0rem);
    filter: saturate(1) blur(0rem);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-circle {
  0% {
    transform: rotateZ(0deg);
    border: 0.5rem dashed var(--primary-color);
  }
  50% {
    transform: rotateZ(180deg);
    border: 0.5rem dashed var(--primary-color);
  }
  100% {
    transform: rotateZ(-190deg);
    border: 0.5rem dashed var(--primary-color-light);
  }
}
@keyframes rotate-circle {
  0% {
    transform: rotateZ(0deg);
    border: 0.5rem dashed var(--primary-color);
  }
  50% {
    transform: rotateZ(180deg);
    border: 0.5rem dashed var(--primary-color);
  }
  100% {
    transform: rotateZ(-190deg);
    border: 0.5rem dashed var(--primary-color-light);
  }
}
@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cursor {
  50% {
    border-color: transparent;
    opacity: 0;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
    opacity: 0;
  }
}
@-webkit-keyframes tilt {
  50% {
    transform: translate(0rem, -2rem) rotate(98deg);
  }
}
@keyframes tilt {
  50% {
    transform: translate(0rem, -2rem) rotate(98deg);
  }
}

@-webkit-keyframes menu-open {
  100% {
    rotate: 360deg;
  }
}

@keyframes menu-open {
  100% {
    rotate: 360deg;
  }
}
@-webkit-keyframes nav__btn-reveal {
  0% {
    color: var(--primary-color);
    perspective: 10px;
    opacity: 0;
    transform: translate(0, -5rem);
    -webkit-filter: blur(0.5rem);
    filter: blur(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
@keyframes nav__btn-reveal {
  0% {
    color: var(--primary-color);
    perspective: 10px;
    opacity: 0;
    transform: translate(0, -5rem);
    -webkit-filter: blur(0.5rem);
    filter: blur(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

/* -------- ORBS ORBIT -------- */

@keyframes orbita {
  0% {
    z-index: 1;
    transform: translateY(0px) scale(1.3);
    background-color: rgb(255, 196, 0);
    box-shadow: 0 0 10px rgb(255, 196, 0);
    opacity: 1;
  }

  5% {
    z-index: 2;
    transform: translateY(-5px) scale(1.7);
    opacity: 1;
  }
  10% {
    z-index: 3;
    transform: translateY(-12px) scale(2.15);
    background-color: rgb(166, 255, 0);
    box-shadow: 0 0 10px rgb(166, 255, 0);
    opacity: 1;
  }
  18% {
    z-index: 4;
    transform: translateY(-33px) scale(2.75);
    background-color: rgb(30, 255, 0);
    box-shadow: 0 0 10px rgb(30, 255, 0);
    opacity: 1;
  }
  30% {
    z-index: 5;
    transform: translateY(-75px) scale(3.5);
    background-color: rgb(0, 255, 170);
    box-shadow: 0 0 10px rgb(0, 255, 170);
    opacity: 1;
  }
  40% {
    z-index: 6;
    background-color: rgb(0, 183, 255);
    box-shadow: 0 0 10px rgb(0, 183, 255);
    opacity: 1;
  }

  45% {
    z-index: 5;
    transform: translateY(-140px) scale(2.5);
    opacity: 1;
  }
  50% {
    z-index: 2;
    transform: translateY(-145px) scale(2);
    background-color: rgb(0, 81, 255);
    box-shadow: 0 0 10px rgb(21, 95, 255);
    opacity: 1;
  }
  55% {
    z-index: 2;
    transform: translateY(-140px) scale(1.5);
    opacity: 1;
  }
  60% {
    z-index: 2;
    background-color: rgb(111, 0, 255);
    opacity: 1;
  }
  70% {
    z-index: 2;
    background-color: rgb(162, 0, 255);
    box-shadow: 0 0 10px rgb(162, 0, 255);
    opacity: 1;
  }
  74% {
    z-index: 2;
    transform: translateY(-85px) scale(1);
    opacity: 1;
  }
  79% {
    z-index: 2;
    background-color: rgb(255, 0, 221);
    box-shadow: 0 0 10px rgb(255, 0, 221);
    opacity: 1;
  }
  85% {
    z-index: 1;
    transform: translateY(-25px) scale(1);
    animation-timing-function: ease;
    background-color: rgb(255, 0, 85);
    box-shadow: 0 0 10px rgb(255, 0, 85);
    opacity: 1;
  }
  90% {
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 10px rgb(255, 0, 0);
    opacity: 1;
  }

  95% {
    transform: translateY(-1.5px) scale(1);
    z-index: 1;
    background-color: rgb(255, 136, 0);
    box-shadow: 0 0 10px rgb(255, 187, 0);
    opacity: 1;
  }

  100% {
    z-index: 1;
    transform: translateY(0px) scale(1.3);
    background-color: #333333;
    background-color: rgb(255, 196, 0);
    box-shadow: 0 0 10px rgb(255, 196, 0);
    opacity: 1;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-3.6rem);
  }

  50% {
    transform: translateY(-2rem);
  }
}
