@-webkit-keyframes name-pic {
  0% {
    left: 0;
    bottom: -10%;
  }
  100% {
    left: 10%;
    bottom: -10%;
  }
}
@keyframes name-pic {
  0% {
    left: 0;
    bottom: -10%;
  }
  100% {
    left: 10%;
    bottom: -10%;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes img-blur {
  0% {
    -webkit-filter: saturate(0) blur(2rem);
    filter: saturate(0) blur(2rem);
  }
  100% {
    -webkit-filter: saturate(1) blur(0rem);
    filter: saturate(1) blur(0rem);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-circle {
  0% {
    transform: rotateZ(0deg);
    border: 0.5rem dashed var(--primary-color);
  }
  50% {
    transform: rotateZ(180deg);
    border: 0.5rem dashed var(--primary-color);
  }
  100% {
    transform: rotateZ(-190deg);
    border: 0.5rem dashed var(--primary-color-light);
  }
}
@keyframes rotate-circle {
  0% {
    transform: rotateZ(0deg);
    border: 0.5rem dashed var(--primary-color);
  }
  50% {
    transform: rotateZ(180deg);
    border: 0.5rem dashed var(--primary-color);
  }
  100% {
    transform: rotateZ(-190deg);
    border: 0.5rem dashed var(--primary-color-light);
  }
}
@keyframes appear {
  100% {
    opacity: 1;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
    opacity: 0;
  }
}
@keyframes tilt {
  50% {
    rotate: 98deg;
    translate: 0 -1.95rem;
  }
}

@keyframes menu-open {
  100% {
    rotate: 360deg;
  }
}
@keyframes nav__btn-reveal {
  0% {
    color: var(--primary-color);
    perspective: 10px;
    opacity: 0;
    translate: 0 -5rem;
    filter: blur(0.5rem);
  }
  100% {
    opacity: 1;
    translate: 0 0;
    filter: blur(0);
  }
}
