.contact__subtitulo {
  display: inline-block;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  padding-block: 2rem;
}

.contact__icons {
  width: 100%;
  margin-bottom: -7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact__icons > * {
  padding-block: 2rem;
}

.contact--1 {
  width: max(35rem, 30%);
  display: flex;
  padding-block: 5rem;
  justify-content: space-evenly;
}

.contact--2 {
  width: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translate(2rem, 0);
}

.contact--2 div {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.contact--1 i,
.contact--2 i {
  font-size: 3rem;
  transition: 400ms;
}

.contact--2 i {
  margin-inline: 1.5rem;
}

.contact--1 i:hover,
.contact--2 i:hover {
  cursor: pointer;
  scale: 1.2;
  text-shadow: 0 0 0.4rem var(--white-color-4);
}

.contact .logo {
  padding-block: 0;
  margin-block: 3rem 5rem;
  height: 8rem;
}

.contact .logo img {
  height: 100%;
}
.contact .logo:hover img {
  scale: 1;
  rotate: z 0deg;
  transform: translate(0, 0);
}

/* ---- CONTACT TIPTOOLS ---- */

.fa-envelope::after {
  content: "Send e-mail";
  display: inline-block;
  position: absolute;
  width: 15rem;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 1rem 1rem;
  background-color: var(--grey-color-1);
  font-family: "Sen", "Poppins", sans-serif;
  font-size: 1.6rem;
  transform: translate(-9rem, -3rem) rotateX(270deg) scale(0.4);
  color: var(--white-color-1) !important;
  opacity: 0;

  transition: 500ms;
}
.fa-github::after {
  content: "GitHub";
  display: inline-block;
  position: absolute;
  width: 10rem;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 1rem 1rem;
  background-color: var(--grey-color-1);
  font-family: "Sen", "Poppins", sans-serif;
  font-size: 1.6rem;
  transform: translate(-6.4rem, -3rem) rotateX(270deg) scale(0.4);
  text-transform: capitalize;
  color: var(--white-color-1) !important;
  opacity: 0;

  transition: 500ms;
}
.fa-instagram::after {
  content: "Instagram";
  display: inline-block;
  position: absolute;
  width: 14rem;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 1rem 1rem;
  background-color: var(--grey-color-1);
  font-family: "Sen", "Poppins", sans-serif;
  font-size: 1.6rem;
  transform: translate(-8.2rem, -3rem) rotateX(270deg) scale(0.4);
  text-transform: capitalize;
  color: var(--white-color-1) !important;
  opacity: 0;

  transition: 500ms;
}
.fa-linkedin::after {
  content: "Linked-in";
  display: inline-block;
  position: absolute;
  width: 13rem;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 1rem 1rem;
  background-color: var(--grey-color-1);
  font-family: "Sen", "Poppins", sans-serif;
  font-size: 1.6rem;
  transform: translate(-7.7rem, -3rem) rotateX(270deg) scale(0.4);
  text-transform: capitalize;
  color: var(--white-color-1) !important;
  opacity: 0;

  transition: 500ms;
}
.fa-envelope:hover::after,
.fa-github:hover::after,
.fa-instagram:hover::after,
.fa-linkedin:hover::after {
  text-shadow: none;
  opacity: 1;
}
.fa-envelope:hover::after {
  transform: translate(-8.9rem, -3.3rem) rotateX(0deg) scale(0.8);
}
.fa-instagram:hover::after {
  transform: translate(-8.2rem, -3.5rem) rotateX(0deg) scale(0.8);
}
.fa-linkedin:hover::after {
  transform: translate(-7.7rem, -3.5rem) rotateX(0deg) scale(0.8);
}
.fa-github:hover::after {
  transform: translate(-6.4rem, -3.5rem) rotateX(0deg) scale(0.8);
}

.copy {
  color: var(--primary-color-light);
  font-size: 1.25rem;
}

@media screen and (min-width: 600px) {
  .copy {
    font-size: 1.8rem;
  }
}

/* ---- MEDIA QUERIES ---- */

@media screen and (min-width: 1200px) {
  .contact__icons {
    height: 80%;
  }
}
