#header {
  position: relative;
  overflow: hidden;
  z-index: 3;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    var(--grey-color-1),
    var(--grey-color-2)
  );
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-bottom: 2px solid var(--grey-color-6);
  box-shadow: 0 1rem 3rem 0.5rem var(--grey-color-1);
}

/* -------- HEADER CONTENT --------- */

.header__content {
  height: 80%;
  width: 100%;
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.header__dev-logo__container img {
  width: min(40rem, 100%);
}

/* ----- GREET ANIMATION ----- */
.header__content-greet {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}
.header__chamada {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chamada__cursor {
  font-size: 2rem;
  /* transform: translate(0, -0.5rem); */
  opacity: 0;

  /* ANIMATION */
  -webkit-animation: appear 1s ease-in-out 1s both,
    cursor 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 4.6s infinite;
  animation: appear 1s ease-in-out 1s both,
    cursor 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 4.6s infinite;
}

/* ----- PRESENTATION ----- */
.header__content-text {
  display: flex;
  padding-block: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  grid-template-rows: 3/4;
  grid-column: 1/-1;
}
.header__content-intro {
  font-size: 2.5rem;
  font-weight: 700;
}
.header__name {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  -webkit-animation: appear 2s 2s;
  animation: appear 2s 2s;
}
.header__name--red {
  font-size: 3.3rem;
  background: -webkit-linear-gradient(
    var(--primary-color-light),
    var(--primary-color-dark)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* color: var(--primary-color-light); */
  text-align: center;
}

/* -------------------- MEDIA QUERIES -------------------- */

@media screen and (min-width: 500px) {
  .header__content {
    height: 100vh;
    padding: 10rem 0;
  }

  .header__content-btns {
    height: 10rem;
  }
}

@media screen and (min-width: 750px) {
  .header__content {
    height: 100vh;
    padding: 10rem 0;
  }
  .chamada__animacao,
  .chamada__cursor {
    font-size: 5rem;
  }

  .header__content {
    transform: translateY(-3rem);
  }

  .header__content-btns {
    flex-direction: row;
  }
}
