#projetos {
  height: auto;
}
.projetos__container {
  width: 100%;
}

.wip {
  width: 100%;
  padding-block: 5rem;
  text-align: center;
  font-size: 2.5rem;
}

.reticencias {
  display: inline-block;
  width: 5rem;
  text-align: left;
  padding-left: 0.75rem;
  color: var(--primary-color-light);
  font-size: 4rem;
}

/* ------ INDIVIDUAL PROJECTS ------ */
.project__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  margin-block: 5rem;
  overflow: hidden;

  transition: 400ms;
}
.project__container:hover {
  box-shadow: 0 0 0.8rem 0.1rem var(--primary-color);
}

.project {
  overflow: hidden;
  width: 100%;
  height: 30rem;
  border-right: 2rem;
}
.project-title {
  text-align: center;
  font-size: 1.8rem;
  font-family: cinzel;
  letter-spacing: 0.5rem;
  padding: 2rem 0 3rem;
}

.project-description__container {
  flex: 1;
}
.project-description__title {
  color: var(--primary-color);
  font-size: 2.5rem;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
}
.project-description {
  height: 100%;
  padding: 3rem;
  line-height: 3rem;
  text-align: justify;
}

.project-img__container {
  width: 100%;
  height: 32rem;
}
.project-img {
  display: block;
  width: 100%;
  height: calc(100% - 2rem);
  background: url("../assets/projects/tip.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transform: translateY(-1rem);
}

/* ------ BRICKS ------- */
.bricks__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100%, 40rem);
  margin: 0 auto;
  height: 30rem;
}

.bricks {
  padding: 2rem;
  height: 30rem;
  padding-inline: 20%;
}

.brick-dark-background {
  background: radial-gradient(var(--grey-color-4), transparent 55%);
}

.brick-light-background {
  background: radial-gradient(var(--grey-color-9), transparent 55%);
}

.brick {
  width: 10rem;
  height: 4rem;
  background: linear-gradient(to top left, #ff5833b0, rgba(221, 85, 54, 0.689)),
    url("../assets/noise.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #9b2308;
  box-shadow: inset -0.3rem -0.3rem 1rem #ff5833c4,
    inset 0.2rem 0.2rem 0.5rem #ff5833c4;
}

.brick-1 {
  transform: translate(-5rem, 20rem);
  box-shadow: 0 0.5rem 2rem 0.1rem var(--grey-color-opacity),
    inset -0.3rem -0.3rem 1rem #ff5833c4, inset 0.2rem 0.2rem 0.5rem #ff5833c4;
}

.brick-2 {
  transform: rotateX(180deg) translate(4.9rem, -16rem);
  box-shadow: 0 -0.5rem 2rem 0.1rem var(--grey-color-opacity),
    inset -0.3rem -0.3rem 1rem #ff5833c4, inset 0.2rem 0.2rem 0.5rem #ff5833c4;
}

.brick-3 {
  transform: translate(0, 8rem);
}

.brick-4 {
  transform: translate(-11.3rem, 5rem) rotate(-45deg);
}

.brick-tilt {
  transform-origin: right center;
  transform: translate(0rem, -2rem) rotate(93deg);

  -webkit-animation: tilt 2500ms;

  animation: tilt 2500ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (min-width: 700px) {
  .project__container {
    flex-direction: row;
    height: 32rem;
  }
  .project {
    width: 28rem;
    height: 100%;
    border-right: 1px solid var(--primary-color);
  }

  .project-description {
    padding: 2rem;
    font-size: 1.25rem;
  }

  .project-img__container {
    height: 100%;
  }
  .project-img {
    width: 100%;
    background: url("../assets/projects/tip.png");
    background-size: cover;
    background-position: bottom;
  }
}

@media screen and (min-width: 800px) {
  .project__container {
    width: 77rem;
  }
  .project-description {
    padding: 3rem;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1000px) {
  .project__container {
    width: 90rem;
  }

  .project-description {
    font-size: 1.6rem;
  }
}
