.container {
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
}

.ball {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 100%;
  opacity: 0;

  transition: 400ms;

  /* --- ANIMATION --- */
  animation: orbita 2.9s linear infinite;
}

.ball1 {
  transform-style: preserve-3d;
  margin-right: 16rem;
  transform: perspective(100px);
}
.ball2 {
  transform-style: preserve-3d;
  margin-right: 12rem;
  transform: perspective(100px);
  animation-delay: 0.3s;
}
.ball3 {
  transform-style: preserve-3d;
  margin-right: 8rem;
  transform: perspective(100px);
  animation-delay: 0.6s;
}
.ball4 {
  transform-style: preserve-3d;
  margin-right: 4rem;
  transform: perspective(100px);
  animation-delay: 0.9s;
}
.ball5 {
  transform-style: preserve-3d;
  margin-right: 0rem;
  transform: perspective(100px);
  animation-delay: 1.2s;
}
.ball6 {
  transform-style: preserve-3d;
  margin-right: -4rem;
  transform: perspective(100px);
  animation-delay: 1.5s;
}
.ball7 {
  transform-style: preserve-3d;
  margin-right: -8rem;
  transform: perspective(100px);
  animation-delay: 1.8s;
}
.ball8 {
  transform-style: preserve-3d;
  margin-right: -12rem;
  transform: perspective(100px);
  animation-delay: 2.1s;
}
.ball9 {
  transform-style: preserve-3d;
  margin-right: -16rem;
  transform: perspective(100px);
  animation-delay: 2.4s;
}
.ball10 {
  transform-style: preserve-3d;
  transform: perspective(100px);
  animation-delay: 2.7s;
}
